# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Notebooks checkpoints
.ipynb_checkpoints/

# Editors / IDE metadata
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
